<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Double or nothing</title>    
</head>
<body>
  <div class="score-parent">
    <h1>YOUR SCORE</h1>
    <h1>999,999,999</h1>
  </div>
  <div class="button-parent">
    <button type="button"> DOUBLE IT or NOTHING</button> </br>
    <button type="button"> stay</button>
  </div>

  </br></br></br></br></br></br></br></br>
  <div>LEADERBOARD</div>
  <!-- I need to figure out how to do it. But that's the last part with the database -->
</body>

</html>